@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dl-sec {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 3rem;
    background-image: url("../img/red-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.dl {
    width: 90%;
    display: flex;
    gap: 1rem;
    background-color: #e0e0e0;
    min-height: 25vh;
    padding: 2rem;
    border-radius: 10px;
}

.dl .vid-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.thumbnail-pic {
    width: 30%;
}

.thumbnail-pic img {
    width: 100%;
    height: auto;
}

select,
button {
    padding: 9px 13px;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: limegreen;
    color: white;
    border: none;
}

button i {
    margin-right: 10px;
}

@media (max-width: 900px) {
    .dl-sec {
        padding: 10px;
    }
    
    .dl {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    
    .dl-sec .vid-info,
    .thumbnail-pic {
        width: 100%;
    }
    
    .dl-sec .vid-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
