@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&display=swap');

:root {
    --white: #fefefe;
    --white2: #F0F0F0;
    --whiteText: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white2);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 28% 28% 28% 16%;
    grid-template-rows: 30% 30% 50% 10%;
    grid-template-areas: 
        "url-form url-form url-form url-form"
        "url-form url-form url-form url-form"
        "smth smth smth smth"
        "foot foot foot foot"
}

.nav {
    font-family: "Koulen", sans-serif;
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.nav ul {
    float: left;
}

.nav ul li {
    list-style: none;
    margin: 0.5rem 0 2rem 0;
}

.nav ul li a {
    text-decoration: none;
    color: darkred;
}

.nav .logo p {
    font-size: 3rem;
    color: white;
}

.nav ul li a {
    padding: 5px 9px;
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.url-form {
    grid-area: url-form;
    background-image: url("../img/red-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*=========*/
    color: white;
    padding: 3rem;
}

.url-form p {
    font-size: 1.2rem;
}

.url-form .url-card {
    text-align: center;
    border-radius: 50px;
    color: white;
    background: url("../img/red-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5rem 0 4rem 12rem; 
    padding: 30px;
    width: 70%;
    border-radius: 10px;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2),
        10px 10px 20px rgba(255, 255, 255, 0.3),
        inset 10px 10px 15px rgba(255, 255, 255, 0.1),
        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
        
}

.url-form .url-card .input {
    margin: 10px 0 5px 0;
}

.url-form .url-card input {
    width: 85%;
    outline: none;
    margin-right: 5px;
    padding: 5px 9px;
    border-radius: 5px;
    border: 1px solid;
}

.url-form .url-card button {
    padding: 7px 19px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: red;
}

.url-form .url-card span {
    font-size: .8rem;
}

.section2 {
    grid-area: smth;
    color: white;
    background-color: black;
    min-height: 100vh;
}

.donate,
.about {
    width: 50rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: #e0e0e0;
    color: black;
}

.donate h2,
.about h2 {
    font-family: 'Koulen', sans-serif;
}

.donate {
    position: relative;
    left: -3rem;
    padding: 2rem 2rem 2rem 6rem;
}

.about {
    position: relative;
    float: right;
    padding: 2rem 3rem 2rem 2rem;
}

.footer {
    grid-area: foot;
    background-color: black;
    color: white;
    padding: 0 3rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    padding: 0.5rem 1rem;
    background-color: red;
    border-radius: 10px;
}
