@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&display=swap');

:root {
    --white: #fefefe;
    --white2: #F0F0F0;
    --whiteText: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white2);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "url-form"
        "url-form"
}

.nav {
    font-family: "Koulen", sans-serif;
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.nav .logo p {
    font-size: 3rem;
    color: white;
}

.url-form {
    display: grid;
    place-items: center;
    grid-area: url-form;
    background-image: url("../img/red-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*=========*/
    color: white;
    padding: 3rem;
}

.url-form p {
    font-size: 1.2rem;
}

.url-form .url-card {
    text-align: center;
    border-radius: 50px;
    color: white;
    background: url("../img/red-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    width: 70%;
    border-radius: 10px;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2),
        10px 10px 20px rgba(255, 255, 255, 0.3),
        inset 10px 10px 15px rgba(255, 255, 255, 0.1),
        inset -10px -10px 20px rgba(0, 0, 0, 0.2);
        
}

.url-form .url-card .input {
    margin: 10px 0 5px 0;
}

.url-form .url-card input {
    width: 85%;
    outline: none;
    margin-right: 5px;
    padding: 5px 9px;
    border-radius: 5px;
    border: 1px solid;
}

.url-form .url-card button {
    padding: 7px 19px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: red;
}

.url-form .url-card span {
    font-size: .8rem;
}


@media (max-width: 900px) {
    
    .url-form {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav {
        top: .5rem;
        left: 2rem;
    }
    
    .url-form .url-card {
        width: 95%;
        padding: 10px;
    }
    
    .url-form .url-card input {
        width: 80%;
    }
}
