<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YTDL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/03853e84a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
</head>

<body>
    <header class="nav">
        <div class="logo">
            <p><b class="yt">YT</b>Download</p>
        </div>
    </header>
    
    <div class="url-form" id="home">
        <div class="url-card">
            <form method="POST">
                <h3>Enter YouTube link:</h3>
                <div class="input">
                    <input type="text" name="url" placeholder="YouTube URL" id="url-input">
                    <button type="submit"><i style="color: white" class="fa-solid fa-play"></i></button>
                </div>
                <span><i>*tap the play button to start downloading*</i></span>
            </form>
        </div>
    </div>
</body>

</html>
